<!DOCTYPE html>
<html>

<head>
    <title>Set Devices Status</title>
</head>

<body>
    <h1>Set Devices Status</h1>

    Number of connected users: {{count}}

    <div>
        <a href='update?id=1&color=green'>Device 1 - GREEN</a><br>
        <a href='update?id=1&color=yellow'>Device 1 - YELLOW</a><br>
        <a href='update?id=1&color=red'>Device 1 - RED</a><br>
        <a href='update?id=2&color=green'>Device 2 - GREEN</a><br>
        <a href='update?id=2&color=yellow'>Device 2 - YELLOW</a><br>
        <a href='update?id=2&color=red'>Device 2 - RED</a><br>
        <a href='update?id=3&color=green'>Device 3 - GREEN</a><br>
        <a href='update?id=3&color=yellow'>Device 3 - YELLOW</a><br>
        <a href='update?id=3&color=red'>Device 3 - RED</a><br>
    </div>

</body>

</html>